* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 80px;
    background-color: #e0b558;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    min-height: 400px; /* フォーム高さに合わせる */
}
.sidebar {
    width: 200px;
    background-color: #8897db;
    padding: 20px;
}
.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 10px;
}
.main {
    flex: 1;
    background-color: #eb9bac;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* テーブル中央寄せ */
}
.main table {
    border-collapse: collapse;
}

.main table td {
    border: 4px solid #000;
    padding: 5px 10px;
}
.button-area {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
footer {
    width: 100%;
    height: 50px;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}